/* VARIABLES */

// Sizes

$xxs: 400px;
$xs: 567px;
$sm: 767px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;
$xxl: 1600px;
$xxxl: 1800px;

:root {
	--primary-font-family: "Nunito Sans", "Poppins", sans-serif;
	--secondary-font-family: "Roboto", sans-serif;
	--primary-background: #0a090c;
	--font-color: #fff;
}

body {
	// --primary-background: #444444;
	--font-color: #ffffff;
}
